:root {
  --text-black: black;
  --text-white: white;
  --border-color1: rgb(70, 46, 46);
  --background-color1: rgb(255, 237, 209);
  --background-color2: rgb(238, 195, 126);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  //border: 1px solid black;
}

html, 
body {
  font-size: 10px;
  font-family: sans-serif;
  background-color: var(--background-color1);
  color: var(--border-color1);
  height: 100vw;
  width: 100%;
}

header,
#nav-bar,
#nav-bar ul,
#nav-bar ul li,
form,
#features,
.features-images,
.features-text,
#how-it-works,
#pricing,
.price-item,
footer,
.footer-links
{
  display: flex;
}

header {
  padding: 0.8rem 0 1.5rem 0;
  justify-content: space-between;
  border-bottom: 2px solid var(--border-color1);
}

#header-img {
  width: 24rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 2.5rem;
  border: 2px solid var(--border-color1);
}

#nav-bar {
  margin: 0px 10px;
  align-items: center;
}

#nav-bar ul li {
  list-style: none;
  text-align: center;
  padding: 0.5rem 1.5rem;
  font-size: 1.7rem;
  align-items: center;
  margin: 0 2rem;
  border: 2px solid var(--border-color1);
  border-radius: 3rem;
  background: var(--background-color2);
}

#nav-bar ul li:nth-of-type(3){
  margin-right: 3rem;
}

#nav-bar ul li a {
  text-decoration: none;
  color: var(--text-black);
  font-weight: bold;
}

#nav-bar ul li:hover {
  background: linear-gradient( 
    50deg,
    var(--background-color2) 0.5%,
    var(--text-white)
    );
} 

#form {
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  margin-top: 2rem;
}

h2 {
  margin: 2.5rem 0;
  font-size: 2.6rem;
}

#email {
  font-size: 1.5rem;
  border: 2px solid var(--border-color1);
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 31rem;
  border-radius: 3px;
  text-align: center;
}

#submit,
input[type="button"] {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 0.6rem 0.9rem;
  border-radius: 3px;
  border: 2px solid var(--border-color1);
  background-color: rgb(255, 229, 83);
  color: var(--border-color1);
}

#submit:hover,
input[type="button"]:hover {
  background-color: red;
  color: white;
}

#features {
  justify-content: center;
  margin: 5rem 3rem;
  max-height: 60%;
}

.features-images {
  flex-direction: column;
  justify-content: center;
  margin-right: 3rem;
}

.features-images img{
  width: 9rem;
  height: 9rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--border-color1);
  margin-bottom: 3rem;
}

.features-text {
  flex-direction: column;
  justify-content: center;
}

.features-text h2 {
  position: relative;
  top: -10;
}

.features-text p {
  font-size: 1.4rem;
  position: relative;
  top: -30;
  line-height: 1.8rem;
  color: var(--text-black);
  margin-bottom: 2rem;
}

#how-it-works {
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

#how-it-works #video {
  border: 0.7rem solid var(--border-color1);
  border-radius: 2px;
}

#pricing {
  justify-content: center;
}

.price-item {
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  border: 2px solid var(--border-color1);
  border-radius: 2px;
}

.price-item h4 {
  padding: 1rem;
  font-size: 1.7rem;
  background-color: var(--background-color2);
}

.price-item p {
  margin: 0.2rem;
  font-size: 1.6rem;
}

.price-item p:first-of-type {
  font-size: 2.2rem;
  font-weight: 900;
  margin: 1rem;
  color: var(--text-black);
}

input[type="button"] {
  margin: 1rem;
  padding: 0.7rem 2.5rem;
}

footer {
  background-color: var(--background-color2);
  width: 80%;
  flex-direction: column;
  align-items: flex-end;
  margin: 4rem auto;
  padding: 1rem;
  border-radius: 3px;
  min-width: 30rem;
}

.footer-links p{
  margin-left: 2rem;
  font-size: 1.6rem;
  color: var(--text-black);
}

.footer-copyright {
  margin-top: 0.4rem;
  font-size: 1.1rem;
}


@media only screen and (max-width: 620px) {

  html,
  body {
    width: 100%;
    min-width: 300px;
  }

  header {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    margin-top: -10;
  }

  #header-img {
    margin: 1.5rem auto;
    padding-left: 0;
  }

  #nav-bar ul {
    margin: auto;
  }

  #nav-bar ul li {
    margin: 0 0.3rem;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
  }

  #nav-bar ul li:nth-of-type(3){
    margin-right: 0;
  }

  #form h2 {
    margin: 2rem 0;
    font-size: 2.3rem;
    text-align: center;
  }

  #form #email {
    width: 25rem;
  }

  #features {
    flex-direction: column;
    margin: 8rem 0;
    align-items: center;
  }

  .features-images {
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    margin: 0;
  }

  .features-images img{
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--border-color1);
    margin-bottom: 2rem;
  }

  .features-text {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    text-align: center;
  }

  .features-text p {
    margin-bottom: -2rem;
  }

  #how-it-works #video {
    width: 40rem;
    height: 25rem;
    margin: 2rem auto;
  }

  #pricing {
    flex-direction: column;
    margin-top: -2rem;
  }

  .price-item {
    width: 50%;
    border-radius: 2px;
    margin: auto;
  }

  .price-item h4 {
    width: 100%;
    text-align: center;
  }

  .price-item:nth-of-type(2) {
    margin: 1rem auto;
  }
  
  footer {
    align-items: center;
  }
}


@media only screen and (max-width: 500px) {

  html,
  body {
    min-width: 30rem;
    width: 100%;
    overflow: none;
    background-color: var(--background-color2);
  }

  #features {
    margin: 12rem 0;
  }

  .features-text h2 {
    font-size: 1.8rem;
  }

  #how-it-works #video {
    width: 35rem;
    height: 22rem;
    margin: 2rem auto;
  } 

  .price-item {
    width: 80%;
  }
}


@media only screen and (max-width: 400px) {
  
  html, body {
    background-color: pink;
  }

  #features {
    margin-top: 15rem;
  }
  
  .features-images img{
    width: 7rem;
    height: 7rem;
  }

  #how-it-works #video {
    width: 25rem;
    height: 15rem;
    margin-top: 4rem;
  }
}
